

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title> Elite Finance Union </title>

    <!-- Favicons -->
    <link href="/assets/img/favicon-32x32.png" rel="icon">
    <link href="/assets/img/apple-icon-180x180.png" rel="apple-touch-icon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.css">
    <link rel="stylesheet" href="/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" href="/assets/vendor/boxicons/css/animations.css">
    <link rel="stylesheet" href="/assets/vendor/boxicons/css/transformations.css">



    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
    <!--fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/userDash.css">
    <link rel="stylesheet" href="/css/cards.css">

</head>

<body>
    <div id="wrapper">
    <div class="overlay"></div>

    <!-- Sidebar -->
    <nav class="fixed-top align-top" id="sidebar-wrapper" role="navigation">
        <div class="simplebar-content" style="padding: 0px;">
            <a class="sidebar-brand" href="/index">
                <span class="align-middle"> PTBank </span>
            </a>

            <ul class="navbar-nav align-self-stretch">

                <!-- <li class="sidebar-header">
                        Pages
                    </li> -->
                <li class="menuHover">

                    <a href="/account" id="Dashboard" class="nav-link text-left " role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="flaticon-bar-chart-1"></i><i class="bx bxs-dashboard ico"></i> Dashboard
                    </a>
                </li>

                <li class="menuHover">
                    <a href="/account/Transfer" id="Transfer" class="nav-link text-left" role="button">
                        <i class="flaticon-bar-chart-1"></i><i class="bx bx-transfer ico"></i> Transfer
                    </a>
                </li>

                <li class="menuHover box-icon">
                    <a href="/account/saving" id="Saving" class="nav-link text-left" role="button">
                        <i class="flaticon-bar-chart-1"></i> <i class="bx bxs-coin-stack ico"></i> Saving
                    </a>
                </li>

                <li class="menuHover">
                    <a href="/account/T_history" id="TransactionHistory" class="nav-link text-left" role="button">
                        <i class="flaticon-bar-chart-1"></i> <i class="bx bx-history ico"></i> Transaction History
                    </a>
                </li>

                <li class="has-sub menuHover">
                    <a class="nav-link collapsed text-left" href="#collapseExample2" role="button" data-toggle="collapse">
                        <i class="flaticon-user"></i> <i class="bx bx-user-circle Profile ico"></i> Profile
                    </a>
                    <div class="collapse menu mega-dropdown" id="collapseExample2">
                        <div class="dropmenu" aria-labelledby="navbarDropdown">
                            <div class="container-fluid ">
                                <div class="row">
                                    <div class="col-lg-12 px-2">
                                        <div class="submenu-box">
                                            <ul class="list-unstyled m-0">
                                                <li><a id="Profile" class="" href="/account/profile">Profile</a></li>
                                                <li><a id="SecureAccount" href="/account/secureAccount">Secure Account</a></li>
                                                <!-- <li><a href="">Contact Us</a></li> -->
                                                <!-- <li><a href="">Feedback</a></li> -->
                                                <!-- <li><a href="">Help</a></li> -->
                                                <!-- <li><a href="">ReactJS</a></li> -->
                                                <!-- <li><a href="">Asp.net</a></li> -->
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </li>



                <li class="menuHover">
                    <a href="/account/cards" id="Cards" class="nav-link text-left" role="button">
                        <i class="flaticon-bar-chart-1"></i> <i class="bx bxs-credit-card ico"></i>Cards
                    </a>
                </li>

                <!-- <li class="sidebar-header">
                        tools and component
                    </li> -->


                <!-- <li class="sidebar-header">
                        tools and component
                    </li> -->
                <!-- <li id="Setting" class="menuHover">
                    <a class="nav-link text-left" role="button">
                        <i class="flaticon-bar-chart-1"></i> <i class="bx bxs-cog ico"></i> Setting
                    </a>
                </li> -->
                <li class="menuHover">
                    <a class="nav-link text-left" role="button" href="../logout">
                        <i class="flaticon-map"></i><i class="bx bx-log-out ico"></i> Logout
                    </a>
                </li>

            </ul>


        </div>


    </nav>
    <!-- /#sidebar-wrapper -->


    <!-- Page Content -->
    <div id="page-content-wrapper">


        <div id="content">

            <div class="container-fluid p-0 px-lg-0 px-md-0">
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light my-navbar">

                    <!-- Sidebar Toggle (Topbar) -->
                    <div type="button" id="bar" class="nav-icon1 hamburger animated fadeInLeft is-closed" data-toggle="offcanvas">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>


                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline navbar-search">
                        <div class="input-group">
                            <h1 id="bankBrand" style="font-size: 24px; color:blue" class="mt-2"> PTBank </h1>
                            <!-- <input type="text" class="form-control bg-light " placeholder="Search for..." aria-label="Search">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div> -->
                        </div>
                    </form>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown  d-sm-none">

                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small" placeholder="Search for...">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <!-- Nav Item - Alerts -->
                        <!-- <li class="nav-item dropdown">
                            <a class="nav-icon dropdown" href="#" id="alertsDropdown" data-toggle="dropdown" aria-expanded="false">
                                <div class="position-relative">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell align-middle" style="color: gray;">
                                        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path>
                                        <path d="M13.73 21a2 2 0 0 1-3.46 0"></path>
                                    </svg>
                                    <span class="indicator">4</span>
                                </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right py-0" aria-labelledby="alertsDropdown">
                                <div class="dropdown-menu-header">
                                    4 New Notifications
                                </div>
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-2">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-alert-circle text-danger">
                                                    <circle cx="12" cy="12" r="10"></circle>
                                                    <line x1="12" y1="8" x2="12" y2="12"></line>
                                                    <line x1="12" y1="16" x2="12.01" y2="16"></line>
                                                </svg>
                                            </div>
                                            <div class="col-10">
                                                <div class="text-dark">Update completed</div>
                                                <div class="text-muted small mt-1">Restart server 12 to complete the
                                                    update.</div>
                                                <div class="text-muted small mt-1">30m ago</div>
                                            </div>
                                        </div>
                                    </a>

                                </div>
                                <div class="dropdown-menu-footer">
                                    <a href="#" class="text-muted">Show all notifications</a>
                                </div>
                            </div>
                        </li> -->
                        <!-- Nav Item - Messages -->
                        <!-- <li class="nav-item">
                            <a class="nav-link " href="#" role="button">
                                <i class="fas fa-envelope"></i>
                                
                                <span class="badge badge-danger badge-counter">7</span>
                            </a>
                        </li> -->

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= useraccount.firstname  %></span>
                                <img id="HeaderProfile" hidden class="img-profile rounded-circle">
                                <span id="HeaderProfileTag" class="btn btn-circle text-white" style="font-size: 13px; background-color: #2a3471;"><%= useraccount.firstname.charAt(0) %></span>
                            </a>


                        </li>

                    </ul>

                </nav>
                
                  <!DOCTYPE html>
<html>

   <head>
      <title></title>
   </head>
	
   <body>
      <marquee>
          
          
          
       <font color="darkblue"  >
           <b>
          NOTICE : We are committed to providing a secured and convenient banking experience to all our customers through  excellent services powered by state of art technologies , however if you notice anything SUSPICIOUS with your online banking portal, kindly contact your account manager for immediate action. Thank you for banking with us!</b></font> 
          
      </marquee>
   </body>
	
</html>    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div class=" begin container-fluid px-lg-4">
        <div class="row">
            <div class="col-md-12 mt-4">
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Cards</h1>
                    <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i>
                        Generate Report</a> -->
                </div>


            </div>
        </div>

                    <div class="row mt-2 d-flex justify-content-center">
                <div class="col-sm-8">
                    <div class="card">
                        <div class="d-flex justify-content-center">


                            <div class="noProfile" id="ProfileTag">
                                <h2 class="nameTag" id="NameTag"></h2>
                            </div>
                        </div>
                        <div class="card-body">
                            <h1 class="text-center mb-4">Apply for Virtual Debit Card</h1>
                            <p class="card-text mb-4 p-2">Elite Finance Union Virtual card, also known as Electronic Card or e-Card, is a limit Debit Card created for ecommerce transactions. It provides an easy and secure way of transacting online without providing the Primary Card/ Account information to the merchant.Virtual Cards can be used at any merchant location accepting MasterCards or Visa Cards online, without any difference from a regular plastic card</p>

                            <div class="d-flex justify-content-center">
                                <button type="button" id="SendAppBtn" class="btn btn-outline-primary mb-2">Send Application</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        

    </div>

    </div>
    <!-- End of Page Content -->

    </div>
<script src="//code.tidio.co/vy08pt6iyfkcehjyd1iekj4jlbqfwcw5.js" async></script>




<footer class="footer">
    <div class="container-fluid">
        <div class="row text-muted">
            <div class="col-6 text-left">
                <p class="mb-0">
                    <a href="/index" class="text-muted"><strong> PTBank
                        </strong></a> &copy
                </p>
            </div>
            <div class="col-6 text-right">
                <ul class="list-inline">
                    <!-- <li class="footer-item">
                        <a class="text-muted" href="#">Support</a>
                    </li>
                    <li class="footer-item">
                        <a class="text-muted" href="#">Help Center</a>
                    </li> -->
                    <li class="footer-item">
                        <a class="text-muted" href="/privacypolicy.html">Privacy</a>
                    </li>
                    <li class="footer-item">
                        <a class="text-muted" href="/terms.html">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</div>
</div>
<!-- /#page-content-wrapper -->

</div>

<!-- javascript -->
    <!-- Wraper Ends Here -->



    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/profileInfo.js"></script>

    <script src="/js/cards.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $('#bar').click(function() {
            $(this).toggleClass('open');
            $('#page-content-wrapper ,#sidebar-wrapper').toggleClass('toggled');
            $("#debitCard-col").toggleClass("col-sm-10");
            $("#OnCardToggle").toggleClass("onfip-posion-toogle");

        });

        $("#Cards").addClass("active");

        $("#bankBrand").addClass("mt-4");

        $("#close").click(function(e) {

            $("#EditProfileModal").modal('hide');
            e.preventDefault();

        });
    </script>

    <script>
        if (window.history.replaceState) {
            window.history.replaceState(null, null, window.location.href);
        }
    </script>


</body>

</html>